@{
    Layout = "~/Shared/_Layout2.cshtml";
    var pageTitle="Admin";
}
@section t1
{
   @pageTitle
}

@{
    var db=Database.Open("shopping");   
    var query="SELECT *from products";
    var data=db.Query(query);

}

   <div >
        
    <div class="row">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <ul>
                        <h1><a href="Admin.cshtml">Admin Panel</a></h1>
                    </ul>
               </div>
            </div>

            <div class="row">
                 <div class="twelve columns">
                    <div>
                        
                            <ul><li><a style="font-size: 15px;margin-left:15px;color: #000;margin-bottom:10px" href=@Href("~/AddProduct.cshtml")>Add New Product</a></li>
                                <li><a style="font-size: 15px;margin-left: 15px;color: #000;margin-bottom: 10px" href=@Href("~/UpdateOrDeleteProduct.cshtml")>Update/Delete Product</a></li>
                                <li><a style="font-size: 15px;margin-left: 15px;color: #000;margin-bottom: 10px" href=@Href("~/AddCategory.cshtml")>Add New Category</a></li>
                               <li><a style="font-size: 15px;margin-left: 15px;color: #000;margin-bottom: 10px" href=@Href("~/UpdateOrDeleteCategory.cshtml")>Delete Category</a></li>
                             </ul>
                                <form action="~/MultiSearch.cshtml" method="post">
                                   <fieldset>
                                            <legend><b>Search</b></legend>
                                            <br/>
                                            <br/>
                                            <select name="searchSelect"  style="width: 155px;margin-left: 5px" class="cls"  id="searchSelect">
									                        <option value="Name">Name</option>
                                                            <option value="Category">Category</option>        
                                                            <option value="Price">Price</option>
                                            </select> 
                                             <br/>
                                             <br/>
                                            <p style="width: 150px;margin-left: 5px">@Html.TextBox("searchTerm")</p>
                                            <br/>
                                            <input type="Submit" value="Search" style="margin-left:40px;width: 90px;height: 25px" />
                                            <br/>
                                            <br/>
                                   </fieldset> 
                                </form>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            
                            
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Included JS Files (Compressed) -->
    <script src="./AddProduct_files/jquery.js"></script>
    <script src="./AddProduct_files/foundation.min.js"></script>
    <!-- Initialize JS Plugins
    -->
    <script src="./AddProduct_files/app.js"></script>
       