<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
    </head>
    <body>
        <div id="footer">
		    <a href="Default.cshtml">Home</a>  |  <a href="Default.html">New Products</a>  |  <a href="Default.html">Special Offers</a>  |  <a href="Default.html">My Account</a>  |  <a href="Default.html">Shopping Chart</a>  |  <a href="index2.html">Locations</a>  |  <a href="index2.html">FAQ</a>  |  <a href="index2.html">Contact Us</a>  |  <a href="index2.html" class="terms">Privacy Policy</a>  |  <a href="index2.html" class="terms">Terms of Use</a>
		    <p>Copyright &copy;. All rights reserved. Design by <a href="http://www.bestfreetemplates.info" target="_blank" id="bft" title="Best Free Templates">BFT</a>     </p>																																																																																																																																									
	    </div>
    </body>
</html>
