
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@RenderSection("t1")</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="Styles/style.css" />
        <link rel="stylesheet" href="/Styles/foundation.min.css">
        <link rel="stylesheet" href="/Styles/app.css">
    </head>
    <body>
        @RenderPage("~/Shared/_Header.cshtml")
        <div id="container">
              @RenderBody()
   	    </div>
        
        
        @RenderPage("~/Shared/_Footer.cshtml")
        
    </body>
</html>
